NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GOOGLE_ADS_WEBHOOK_PATH_TOKEN=
GOOGLE_ADS_WEBHOOK_KEY=
GOOGLE_ADS_ALLOWED_FORM_IDS=
GOOGLE_ADS_ALLOWED_CAMPAIGN_IDS=
